
// Base16 Tomorrow
// A color scheme by Chris Kempson (http://chriskempson.com)

// Grayscale
@black:           #1d1f21; // 00
@very-dark-gray:  #282a2e; // 01
@dark-gray:       #373b41; // 02
@gray:            #969896; // 03
@light-gray:      #b4b7b4; // 04
@very-light-gray: #c5c8c6; // 05
@almost-white:    #e0e0e0; // 06
@white:           #ffffff; // 07

// Colors
@red:             #E84057; // 08
@orange:          #ED7C37; // 09
@yellow:          #E6CD60; // 0A
@green:           #7ABB69; // 0B
@cyan:            #4BCEB3; // 0C
@blue:            #55B4D6; // 0D
@purple:          #8849CC; // 0E
@brown:           #ED7C37; // 0F
